<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            {include file="gift/ul" /}
            <div class="panel panel-default ">
                <div class="panel-body">
                    <div class="col-xs-4">
                        <label class="control-label col-xs-12">
                            <div style="text-align: center">
                                <a href="/goods/auto/gid/26/sid/4.html" class="btn btn-success btn-lg">淘宝平台</a>
                            </div>

                        </label>
                        <label class="control-label col-xs-12">
                            <div style="text-align: center">
                                <a href="https://fuwu.taobao.com/ser/detail.htm?serviceCode=FW_GOODS-1978346" target="_blank" class="btn btn-info btn-sm">订购淘宝服务</a>
                                <a href="/express/aoto.html" class="btn btn-warning btn-sm">添加淘宝店铺</a>
                            </div>
                        </label>
                        <label class="control-label col-xs-12">
                            <div style="text-align: center">
                                <a href="https://shimo.im/docs/PRv9hJXkq38Pkwyg/read" target="_blank" class="btn btn-danger btn-sm">淘宝发货必读！教程</a>
                            </div>
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label col-xs-12">
                            <div style="text-align: center">
                                <a href="/goods/auto/pt/2/gid/26/sid/4.html" class="btn btn-success btn-lg">拼多多平台</a>
                            </div>
                        </label>
                        <label class="control-label col-xs-12">
                            <div style="text-align: center">
                                <!--<a href="https://fuwu.pinduoduo.com/service-market/service-detail?detailId=434" target="_blank" class="btn btn-info btn-sm">订购拼多多服务</a>-->
                                <a href="/user/addpdd.html" class="btn btn-warning btn-sm">添加拼多多店铺</a>
                            </div>
                        </label>
                        <label class="control-label col-xs-12">
                            <div style="text-align: center">
                                <a href="https://shimo.im/docs/wYQrDxP6yRDr9v3v/read" target="_blank" class="btn btn-danger btn-sm">拼多多发货必读！教程</a>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
